<div class="container mx-auto px-4 py-8 text-textColor">
  <h1 class="text-3xl font-bold mb-4">Privacy Policy for CIRI2</h1>
  <p class="mb-4">Last Updated: 19-05-2024</p>
  <p class="mb-4">
    Thank you for using CIRI2! This Privacy Policy describes how we collect,
    use, and disclose information when you use our web application. We are
    committed to protecting your privacy and ensuring the security of any
    information you provide while using our services.
  </p>

  <h2 class="text-2xl font-bold mb-2">1. Information We Do Not Collect:</h2>
  <p class="mb-4">
    We do not collect any personal information from users of our web
    application. Personal information includes, but is not limited to, names,
    email addresses, phone numbers, addresses, or any other identifiable
    information.
  </p>

  <h2 class="text-2xl font-bold mb-2">
    2. Automatically Collected Information:
  </h2>
  <p class="mb-4">
    We may collect certain non-personal information automatically when you visit
    our website, such as your IP address, browser type, operating system,
    referring URLs, and other technical information. This information is used
    for the operation of the service, to maintain the quality of the service,
    and to provide general statistics regarding the use of our web application.
  </p>

  <h2 class="text-2xl font-bold mb-2">3. Cookies:</h2>
  <p class="mb-4">
    We do not use cookies or any similar tracking technologies on our website.
  </p>

  <h2 class="text-2xl font-bold mb-2">4. Third-Party Links:</h2>
  <p class="mb-4">
    Our web application may contain links to third-party websites or services
    that are not owned or controlled by us. We are not responsible for the
    privacy practices or the content of these third-party websites or services.
    We encourage you to review the privacy policies of any third-party websites
    or services that you visit.
  </p>

  <h2 class="text-2xl font-bold mb-2">5. Changes to This Privacy Policy:</h2>
  <p class="mb-4">
    We reserve the right to update or change our Privacy Policy at any time. Any
    changes will be effective immediately upon posting the updated Privacy
    Policy on this page.
  </p>

  <h2 class="text-2xl font-bold mb-2">6. Contact Us:</h2>
  <p class="mb-4">
    If you have any questions or suggestions about our Privacy Policy, do not
    hesitate to contact us at
    <a href="mailto:jordywalraven1@gmail.com" class="text-blue-500">
      jordywalraven1&#64;gmail.com</a
    >.
  </p>

  <p class="mb-8">
    By using our web application, you consent to the terms of this Privacy
    Policy.
  </p>

  <p class="italic mb-4">
    This Privacy Policy applies solely to our web application and does not apply
    to any third-party websites or services linked to or from our website.
  </p>
</div>
